.title {
    composes: heading1 from '../../styles/basicStyles.css';
    text-align: center;
    margin: 0 0 32px;
  }
  .list {
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
  }